@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

body {
    background-image: linear-gradient(to right, rgb(0, 140, 255), rgb(94, 177, 255), rgb(147, 203, 255));
    margin: 0px;
}

header {
    font-family: 'Alfa Slab One', cursive;
    background-color: blue;
    color: aqua;
}

main {
    margin: 0px;
}

footer {
    padding: 30px 10px;
    background-color: blue;
    color: aqua;
    text-align: center;
}

p {
    margin: 0px;
}
