@charset "UTF-8";

/* Aparelho deitado (landscape) */

body {
  background: url(../../images/cev-landscape.jpg);
  background-size: contain;
  background-position: left bottom;
  background-repeat: no-repeat;
}