@charset "UTF-8";

/* Aparelho em pé (portrait )*/

body {
  background: url(../../images/cev-portrait.jpg);
  background-size: contain;
  background-position: center bottom;
  background-repeat: no-repeat;
}