@charset "UTF-8";

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100vw;
  height: 100vh;
  background-color: #000;
}

body {
  background: url(../../images/fundo-madeira.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

main {
  position: relative;
  height: 100vh;
}

section#telefone {
  position: absolute;
  inset: 50%;
  width: 311px;
  height: 627px;
  background: url(../../images/frame-iphone.png);
  transform: translate(-50%, -50%);
}

iframe#tela {
  position: relative;
  top: 80px;
  left: 23px;
  width: 265px;
  height: 471px;
}

section#redes-sociais {
  text-align: right;
}

section#redes-sociais iframe {
  
}

section#redes-sociais img {
  width: 50px;
  margin: 10px;
  border-radius: 100%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

section#redes-sociais img:hover {
  border: 2px solid #ffffff50;
  transform: translate(-3px, -3px);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
  transition: .3s ease-in-out;
}
